@{
    ViewData["Title"] = "Home Page";
}

<h1>Hi!</h1>
<p>UI is going to be here soon! :)</p>
    <div id="example"></div>
@section scripts {
    <link rel="stylesheet" href="dist/my-styles.css"/>
    <script src="dist/bundle.js"></script>
}