@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables";
$headerColor: blue;

.hide {
    display: none;
}

h1 {
    color: $pt-heading-color
}

.body{
    padding-top: $pt-navbar-height
}

.pt-select-popover .pt-menu {
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
    padding: 0;
}

.half-screen {
    width: 60%
}

.wiki-info {
    margin: 10px;
}

a.new-window, a.new-window:visited, a.new-window:active {
    color: #106ba3;
    text-decoration: none;
    border-bottom: 1px #106ba3 dotted;
  }
  
  a.new-window:hover {
    color: #106ba3;
    text-decoration: underline;
    border: none;
  }

nav {
    .small-space {
        display: inline-block;
        width: 4px;
    }
    .bird-info-select {
        div.inline-block {
            display: inline-block;
        }
    }
}
.latest-shots {
    margin: 15px;
}

.small-margin {
    margin: 1px;
}

.bird-column {
    width: 320px;
}

.map-popup {
    background: white;
    color: #3F618C;
    font-weight: 400;
    padding: 5px;
    border-radius: 2px;

    a {
        font-size: 13px;
    }
    
    a.pt-icon-cross{
        float: right;
    }
}

.display-block {
    display: block;
}

.small-reference {
    font-size: 8px;
    min-height: 0;
    line-height: 0;
    text-align: left !important;
}

div.body > table td {
    line-height: 30px;
}

.show-mobile{
    display: none;
}

.hide-mobile {
    &div {
        display: block;
    }
    &span {
        display: inline
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    #root {
        nav > div.pt-navbar-group > a.pt-button.pt-minimal.pt-icon-arrow-right{
            line-height: 0;
            font-size: 0;
            color: transparent;
            margin-top: 15px;
        }
    }
}

@mixin hide-text-for-icon {
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding-top: 6px;
}


@media screen and (max-width: 960px) {
    #root {
        nav > div.pt-navbar-group.pt-align-right > a.pt-button.pt-minimal{
            @include hide-text-for-icon;
        }
    }
}

@media screen and (max-width: 880px) {
    #root {
        nav > div.pt-navbar-group.pt-align-left > a.pt-button.pt-minimal{
            @include hide-text-for-icon;
        }
    }
}

@media screen and (max-width: 780px) {
    #root {
        nav .bird-info-select{
            display: none;
        }
        .bird-column{
            width: 300px;
        }
        .date-column {
            width: 160px;
        }
        .marker-thumbnail{
            display: none;
        }
    }
}
@media screen and (max-width: 460px) {
    #root {
        nav {
            div.pt-navbar-group.pt-align-right > a.pt-button.pt-minimal{
                display: none;
            }
            .pt-navbar-heading
            {
                font-size: 12px;
                margin-right: 0
            }
        }
    }

    .show-mobile {
        &h2 {
            display: block;
            padding-left: 10px;
            padding-top: 10px;
        }
        &div {
            display: block;
        }
        &span {
            display: inline
        }
    }
    .hide-mobile {
        display: none;
    }

    tbody.life-list-table{
        font-size: 11px;
    }
}

.marker-thumbnail
{
    margin-top: 10px;
    border-radius: 5px;
}

.logo {
    background-image: url("http://www.iconninja.com/files/139/538/395/pigeon-bird-shape-icon.png");
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}