@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables";
$headerColor: blue;

h1 {
    color: $pt-heading-color
}

.body{
    padding-top: $pt-navbar-height
}

.pt-select-popover .pt-menu {
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
    padding: 0;
}

.small-space {
    display: inline-block;
    width: 4px;
}

.latest-shots{
    margin: 15px;
}

.small-margin{
    margin: 1px;
}

.react-d3-map-core__popup__tip, .react-d3-map-core__popup__content-wrapper{
    z-index:42;
    opacity: .99;
}