@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables";
$headerColor: blue;

h1 {
    color: $pt-heading-color
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.body{
    margin-top: 50px;
}